<div class="row">
  <div class="col-12">
    <div class="indexParentHolder2">
    <h5>TERMENI ȘI CONDIȚII</h5>
    <p>Această platformă a fost creată cu securitatea datelor în prim plan, așadar te asigurăm că orice conexiune
    cu platforma folosește encripție SSL/2048 biți, iar baza de date este stocată pe un server securizat prin firewall,
    antivirus și alte măsuri tehnice și organizatorice adecvate și necesare pentru a vă proteja datele personale.
    Serverul se află într-un datacenter din România beneficiind de redundanță, atât pentru hardware, internet și curent electric.</p>
    <p>Nu furniza parola altor persoane și asigură-te că dispozitivul de pe care te conectezi nu are viruși
      sau keyloggere instalate! Dacă bănuiești că securitatea contului tău a fost compromisă te rugăm
      să ne anunți imediat și să îți resetezi parola!</p>
    <p>Conform noului regulament GDPR, mai multe persoane din cadrul instituției de învățământ și angajați ai ITEACHSMART
      au acces la datele prezente în platformă, după ce au semnat un contract de confidențialitate. Aceste date sunt
      folosite doar în scopul procesării și afișării statisticilor în aplicație, generarea documentelor precum
      facturi și chitanțe și alte documente necesare desfășurării activității. Datele tale nu vor fi vândute unor
      terți sau folosite în scopuri publicitare. </p>
    <p>Platforma este încă în stadiu de dezvoltare. Unele butoane și pagini nu sunt încă active sau nu au
      funcționalitate completă.</p>
    <p>©2018 Planeta Copiilor</p>
    </div>
  </div>
</div>
