{% extends 'base.html.twig' %}

{% block title %}INVOICE E-MAIL{% endblock %}

{% block body %}
<h1 class="kuraleFont">Salutare!</h1>

<p>S-a emis o nouă factură din partea unității de învățământ "Planeta Copiilor".</p>

<p>Pentru a vedea detaliile, puteți accesa platforma online la următorul link:</p>

<p><a href="https://pc.iteachsmart.ro/">https://pc.iteachsmart.ro/</a></p>

<p>De asemeni, poți intra pe site-urile noastre: <a href="http://gradinitaplanetacopiilor.ro/">Grădinița Planeta Copiilor</a>
  sau <a href="http://scoalaplanetacopiilor.ro/">Școala Planeta Copiilor</a>,
  unde vei găsi butonul Platforma Online. Este o idee bună să salvezi această adresă în likurile tale
  Favorite pentru acces rapid în viitor.</p>

<p>Detaliile facturii sunt:</p>

<table>
  <tbody>
    <tr>
      <td><strong>Număr factură:</strong></td>
      <td style="padding-left:10px;">{{ invoice.getMonthAccount.getId ~ invoice.getId }}</td>
    </tr>
    <tr>
      <td><strong>Suma de plată:</strong></td>
      <td style="padding-left:10px;">{{ invoice.getInvoiceTotal|localizedcurrency('RON') }}</td>
    </tr>
    <tr>
      <td><strong>Emisă la data:</strong></td>
      <td style="padding-left:10px;">{{ invoice.getInvoiceDate|localizeddate('long','none','RO') }}</td>
    </tr>
  </tbody>
</table>

<p>Îți mulțumim că ai ales serviciile noastre.</p>

<p>Cu drag,<br>
<strong>Echipa "Planeta Copiilor"</strong></p>

<hr>

<p><small>Această platformă a fost creată cu securitatea datelor în prim plan, așadar te asigurăm că orice conexiune
cu platforma folosește encripție SSL/2048 biți, iar baza de date este stocată pe un server securizat prin firewall,
antivirus și alte măsuri tehnice și organizatorice adecvate și necesare pentru a vă proteja datele personale.
Serverul se află într-un datacenter din România beneficiind de redundanță, atât pentru hardware, internet și curent electric.</small></p>

<!-- This is the base template
<h1>Planeta Copiilor - Activare Cont</h1>
<br>
<p><b>Utilizator: </b>{# user.email #}</p>
<p><b>Parolă: </b>{# plainpass #}</p> -->

{% endblock %}
