
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    background-image: url("../img/myaccount.background.jpg");
    background-repeat: repeat;
    overflow: visible;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

select {
  font-family: 'FontAwesome', sans-serif;
}

@font-face {
  font-family: 'Coiny';
  src: url('coiny.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('coiny.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Kurale';
  src: /*url('beatrix.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('kurale.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.coinyFont {
  font-family: 'Coiny';
}

.kuraleFont {
  font-family: 'Kurale';
}

.wrapper {
    /* margin-top: 50px; */
}

.login-wrapper {
    margin-top: 50px;
}

.enrollment-wrapper th,td {
  padding-left:10px;
  padding-right:10px;
}
.enrollment-wrapper p {
    /* color: #000; */
}
.enrollment-wrapper ul {
    list-style:none;
}
.enrollment-wrapper li {
    /* list-style-type:none; */
}

.enrollment-wrapper h2 {
  visibility: hidden;
}

.show-links a {
    text-decoration: underline;
}

.class-group-details-wrap th,td {
  padding: 0px 8px 0px 8px;
}


/* Using this in order to make Checkbox bigger */
.double {
  zoom: 1.5;
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  -moz-transform: scale(1.3);

  transform-origin: 150% 70%;
  -ms-transform-origin: 150% 70%;
  -webkit-transform-origin: 150% 70%;
  -o-transform-origin: 150% 70%;
  -moz-transform-origin: 150% 70%;
  -webkit-transform-origin: 150% 70%;

  margin-left:7px;
}

.btn-sm {
  padding: 2px 6px 2px 6px;
}

.btn-max-width {
  max-width:220px;
}

.indexParentHolder {
  visibility: hidden;
  width:100%;
  display: block;
  padding:15px 15px 15px 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 3px rgba(16, 16, 32, 0.3);
  /* text-align:center; */
}

.indexParentHolder2 {
  visibility: hidden;
  width:100%;
  display: block;
  font-size:10px;
  padding:15px 15px 5px 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgba(250, 250, 250, 0.8);
  box-shadow: 0px 0px 10px 3px rgba(16, 16, 32, 0.2);
  /* text-align:center; */
}

.holderBlue {
  background-color: rgba(125, 144, 213, 0.7);
}

.holderYellow {
  background-color: rgba(213, 213, 125, 0.7);
}

.holderRed {
  background-color: rgba(213, 125, 144, 0.7);
}

.holderGreen {
  background-color: rgba(144, 213, 125, 0.7);
}

.holderGray {
  background-color: rgba(213, 213, 213, 0.7);
}

.holderWhite {
  background-color: rgba(250, 250, 250, 0.65);
}

.myaccount-settings-wrapper {
  visibility: hidden;
}

.form_button_margin {
  margin: 0px 5px 0px 5px;
}

#secondPass {
  max-height: 0px;
  overflow: hidden;

  -webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
}

#users, .enrollmentsTable, .classOptTable {
  visibility: hidden;
}

#users_row, #enrollments_row, #class_opt_row {
  visibility: hidden;
}

#users_row td, #enrollments_row td, #class_opt_row td {
  padding: 3px;
}

#classgroup_holder {
  margin-bottom:20px;
}
#classgroup_holder td {
  padding:5px;
}

/*
[class^="status-"] — starts with "status-" (obviously).
[class*=" status-"] — contains the substring "status-" occurring directly after a space character.
*/

div[class^="attendance_row_"], div[class*=" attendance_row_"] {
  max-height: 0px;
  visibility:hidden;
  overflow:hidden;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  background-color: rgba(250, 250, 250, 0.7);
  box-shadow: 0px 0px 10px 3px rgba(16, 16, 32, 0.1);
  border: 1px solid #777;
  border-radius: 12px;
}

.attendanceHolder {
  width:100%;
  display: block;
  font-size:14px;
  padding:15px 15px 5px 15px;
  margin: 10px 0px 15px 0px;
  border:none;
  background-color: rgba(250, 250, 190, 0.8);
  box-shadow: 0px 0px 10px 3px rgba(16, 16, 32, 0.1);
  /* text-align:center; */
}
