{% extends 'base.nav.html.twig' %}

{% block title %}Administrare Opționale -> Înscrieri{% endblock %}

{% block body %}
    <h1>Înscrieri {{ optional.getOptionalName|lower }}</h1>
    <br>
    {% if students is not empty %}
        <ol type="1" style="type:1;">
          {% for student in students %}
          <li>{{ student.getUser.getFullName(1) }}</li>
          {% endfor %}
        </ol>
    {% else %}
        <p>Nu avem</p>
    {% endif %}
    <br>
    <a href="{{ path('class_optional_enroll', {'id':optional.id}) }}"><button type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Modifică</button></a>
{% endblock %}
