{% extends 'base.nav.html.twig' %}

{% block title %}Administrare Module{% endblock %}

{% block body %}

    <h2 class="coinyFont">Materii {{ current_year.getYearlabel|lower }}</h2>
    <br>
    <p>Această pagină este <code>-ÎN CONSTRUCȚIE-</code></p>

{% endblock %}
