{% extends 'base.nav.html.twig' %}

{% block title %}Administrare Module{% endblock %}

{% block body %}

    <h1>Module {{ current_year.getYearlabel|lower }}</h1>
    <br>
    <p>Această pagină este <code>-ÎN CONSTRUCȚIE-</code></p>

{% endblock %}
