<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">

  <div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-align-left"></i>
      <span> Navigație</span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand" href="./"><img src="{{ asset('img/smedu.png') }}" alt="Logo"></a>
  </div>
</nav>
