<nav id="sidebarParent">
  <div id="sidebar">
    <div class="sidebar-header">
        <h3>SmEDU Sidebar</h3>
        <strong>SS</strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#">
                <i class="fas fa-home"></i>
                Panou Control
            </a>
        </li>
        <br>
        <li>
            <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-users"></i>
                Utilizatori
            </a>
            <ul class="collapse list-unstyled" id="userSubmenu">
              <li>
                  <a href="#">Toți Utilizatorii</a>
              </li>
              <li>
                  <a href="#">Adaugă Utilizator</a>
              </li>
              <li>
                  <a href="#">Șterge Utilizator</a>
              </li>
              <li>
                  <a href="#">Rapoarte</a>
              </li>
            </ul>
        </li>
        <li>
            <a href="#clasesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Clase
            </a>
            <ul class="collapse list-unstyled" id="clasesSubmenu">
                <li>
                    <a href="#">Toate Clasele</a>
                </li>
                <li>
                    <a href="#">Adaugă Clasa</a>
                </li>
                <li>
                    <a href="#">Șterge Clasa</a>
                </li>
                <li>
                    <a href="#">Rapoarte</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#modulesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Module
            </a>
            <ul class="collapse list-unstyled" id="modulesSubmenu">
                <li>
                    <a href="#">Toate Clasele</a>
                </li>
                <li>
                    <a href="#">Adaugă Clasa</a>
                </li>
                <li>
                    <a href="#">Șterge Clasa</a>
                </li>
                <li>
                    <a href="#">Rapoarte</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#optionalsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Opționale
            </a>
            <ul class="collapse list-unstyled" id="optionalsSubmenu">
                <li>
                    <a href="#">Toate Clasele</a>
                </li>
                <li>
                    <a href="#">Adaugă Clasa</a>
                </li>
                <li>
                    <a href="#">Șterge Clasa</a>
                </li>
                <li>
                    <a href="#">Rapoarte</a>
                </li>
            </ul>
        </li>
        <br>
        <li>
            <a href="#paySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-coins"></i>
                Plăți
            </a>
            <ul class="collapse list-unstyled" id="paySubmenu">
                <li>
                    <a href="#">Toate Clasele</a>
                </li>
                <li>
                    <a href="#">Adaugă Clasa</a>
                </li>
                <li>
                    <a href="#">Șterge Clasa</a>
                </li>
                <li>
                    <a href="#">Rapoarte</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#transportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-truck"></i>
                Transport
            </a>
            <ul class="collapse list-unstyled" id="transportSubmenu">
                <li>
                    <a href="#">Toate Clasele</a>
                </li>
                <li>
                    <a href="#">Adaugă Clasa</a>
                </li>
                <li>
                    <a href="#">Șterge Clasa</a>
                </li>
                <li>
                    <a href="#">Rapoarte</a>
                </li>
            </ul>
        </li>
        <br>
        <li>
            <a href="#">
                <i class="fas fa-cog"></i>
                Setări
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-briefcase"></i>
                Despre Sistem
            </a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="download">Termeni de Utilizare</a>
        </li>
        <li>
            <a href="#" class="article">Asistență Tehnică</a>
        </li>
    </ul>

  </div>
</nav>
